#add-comp-menu-div {
    min-height: 200px;
    height: 50vh;
    width: 70px;
    background-color: rgb(16, 34, 22);
    position: absolute;
    top: 26vh;
    float: right;
    right: 0px;
    border: 10px solid rgb(3, 12, 4);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    overflow-x: visible;
    overflow-y: scroll;
}

#add-comp-menu-div > ul {
    width: 100%;
    left: 0px;
    overflow: visible;
}

#add-comp-menu-div > ul > li {
    position: relative;
    margin-bottom: 10px;
    font-size: 25px;
    width: 60px;
    left: -20px;
    background-color: rgb(3, 12, 4);
    height: 60px;
    border-radius: 10px;
    overflow: visible;
    list-style-type: none;
}

.comp-img {
    position: relative;
    height: auto;
    width: 50px;
    left: 5px;
    top: 5px;
}

#sticky-note-img {
    height: 30px;
    width: auto;
    left: 15px;
    top: 15px;
}

#mini-sticky-note-img {
    height: 20px;
    width: auto;
    left: 20px;
    top: 20px;
}


.add-comp-btn {
    position: relative;
    background-color: rgba(255, 0, 0, 0);
    border-width: 0px;
    font-size: 25px;
    font-family: inherit;
    height: 60px;
    width: 60px;
    left: 0px;
    top: -45px;

}

#sticky-note-label {
    position: relative;
    top: -120px;
}

.comp-label {
    text-align: right;
    width: 150px;
    height: 70px;
    position: relative;
    left: -170px;
    top: -130px;
    font-size: 27px;
    visibility: hidden;
    z-index: 5;
}

@media only screen and (max-width: 800px) {
    #add-comp-menu-div {
      visibility: hidden;
    }
  }