#color-panel-div {
    width: 135px;
    height: 227px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 20px);
    grid-template-rows: repeat(10, 20px);
    gap: 3px;
    padding: 10px;

    position: absolute;
    top: calc(50vh - 113.5px);
    right: 290px;
}

.color-div{
    border: 1px solid black;
    border-radius: 3px;
}