.list-div {
    position: absolute;
    height: 22vw;
    width: 12vw;
    box-shadow: 4px 8px 10px rgba(24, 24, 24, 0.6);
    font-family: inherit;
    box-sizing: border-box;
    background-color: white;
    overflow: visible;
}


.add-list-item {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    height: 40px;
    width: 35px;
    color: rgba(150, 150, 150, 0.5);
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.list-item {
    position: relative;
    margin-top: 0px;
    margin-bottom: -15px;
    margin-left: -30px;
    width: 100%;
    height: min-content;
    color: black;
    font-family: "Comic Sans MS";
    font-weight: 600;
    font-size: 22px;
}

.list-item > span {
    color: inherit;
    margin-left: -15px;
    line-height: 10px;
    height: min-content;
}

.list-item-underline {
    width: 100%;
    height: 10px;
    top: -15px;
    position: relative;
    background-color: rgba(50, 50, 50, 0.2);
    display: inline-block;
    visibility: visible;
}

.list-div > ul {
    position: relative;
    margin-top: 0px;
    margin-left: 0%;
    list-style: square inside;
    width: 90%;
    max-height: 85%;
    overflow-y: scroll;
    overflow-x: visible;
}

.new-item-input {
    color: black;
    margin-top: -30px;
    font-family: "Comic Sans MS";
    font-weight: 600;
    font-size: 20px;
    margin-left: 5%;
    height: 20px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0);
}

.delete-list-item-btn {
    display: inline;
    position: relative;
    float: right;
    color: rgba(225, 30, 30);
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    height: 20px;
    margin-bottom: -20px;
    top: -55px;
    font-weight: 900;
    font-size: 20px;
}