* {
    color: white;
}

#nav-div {
    z-index: 2;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 300px;
    height: calc(100vh - 18px);
    background-color: rgb(16, 34, 22);
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 10px solid rgb(3, 12, 4);
    overflow: visible;
}

#add-board-button {
    height: 60px;
    width: 60px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    float: right;
    margin-top: 20px;
    margin-right: 5px;
    font-weight: 100;
}

#board-name-input {
    background-color: rgb(16, 34, 22);
    margin-left: 10px;
    height: 20px;
    font-size: 15px;
    width: 200px;
    margin-top: 15px;
}

#my-boards-text {
    margin-top: 30px;
    font-size: 35px;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}

#minimize-nav-btn{
    height: 45px;
    width: 45px;
    background-color: rgb(16, 34, 22);
    border: 6px solid rgb(3, 12, 4);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    font-size: 30px;
    float: right;
    right: -115px;
    top: 40px;
    visibility: hidden;
}

@media only screen and (max-width: 800px) {
    #nav-div {
        visibility: hidden;
    }
    #minimize-nav-btn {
        visibility: hidden;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1400px) {
    #minimize-nav-btn {
      visibility: visible;
    }
  }