.sheet-div {
    position: absolute;
    height: 24vw;
    width: 18vw;
    background-color: white;
    box-shadow: 4px 8px 10px rgba(24, 24, 24, 0.6);
    font-family: inherit;
    box-sizing: border-box;
    overflow: visible;
}

.sheet-textarea {
    height: 90%;
    width: 90%;
    text-align: left;
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0);
    border-width: 0px;
    resize: none;
    font-family: "Comic Sans MS";
    color: rgb(5, 5, 5);
    font-weight: 600;
    position: relative;
    left: 5%;
    top: 0%;
    line-height: 25.5px;
    max-lines: 13;
    overflow-y: scroll;
}