.sticky-note-div {
    position: absolute;
    height: 10vw;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 8px 10px rgba(24, 24, 24, 0.6);
    box-sizing: border-box;
}

.sticky-note-textarea {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    text-align: left;
    font-size: 17px;
    background-color: rgb(0, 0, 0, 0);
    border-width: 0px;
    resize: none;
    font-family: inherit;
    color: inherit;
    font-weight: 600;
}